.badge-changelog.badge{
  position: relative;

  $status:
          "0" var(--primary),
          "1" var(--warning),
          "2" var(--danger),
  ;

  @each $number, $bg in $status {
    &.badge-#{$number}{
      background-color: $bg;
    }
  }

  .tooltip{
    width: 64px;
  }

  &:hover{
    .tooltip{
      opacity: 1;
      z-index: 1;
    }
  }
}
