{% extends 'user/pages/settings/template.html.twig' %}

{% set page_title %}Paramètres des biens{% endset %}
{% set submenuActive = "Infos biens" %}

{% block main_content %}
    <div id="settings-biens"
         data-quartiers="{{ quartiers }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}