{% extends 'user/pages/settings/template.html.twig' %}

{% set page_title %}Paramètres des biens{% endset %}
{% set submenuActive = "Biens" %}

{% block main_content %}
    <div id="settings-biens" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}