{% extends 'user/pages/settings/template.html.twig' %}

{% set page_title %}Paramètres{% endset %}
{% set submenuActive = "Paramètres" %}

{% block main_content %}
    <div id="settings-generaux"
         data-element="{{ element }}"
         data-negotiators="{{ negotiators }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}