//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  body{
    font-size: 17px;
  }

  .role,
  input, textarea, select,
  .form-group-error .error,
  .line label,
  .role-type,
  .password-rules,
  .alert p,
  .alert [class^=icon-] + p,
  .alert [class^=icon-] + div{
    font-size: 15px;
  }

  .owner,
  .card .tenants .tenants-title,
  .inventories .tenants, .inventories .property,
  .tenant-title, .property-title,
  .items-default .sub,
  .selected .card .sub,
  .list-select .card .sub,
  .list-month .item .sub,
  .list-month .item .col-4,
  .list-month .item .col-5{
    font-size: 16px;
  }

  .btn-icon {
    [class^="icon-"]{
      font-size: 20px;
    }
  }
}
