@import "../vars/vars";

.btn{
  padding: 11px 24px;
}

$icons:
        "default" var(--alpha) var(--txt) var(--greyShadow),
        "primary" var(--primary) var(--alpha) var(--primaryShadow2),
        "danger" var(--danger) var(--alpha) var(--dangerShadow2),
        "success" var(--success) var(--alpha) var(--successShadow2),
        "warning" var(--warning) var(--txt) var(--warningShadow2);

@each $name, $bg, $txt, $shadow in $icons {
  .btn-#{$name} {
    background: $bg;
    color: $txt;
    border: 1px solid transparent;
    box-shadow: 0 4px 12px $shadow;
  }
}
