@import "../vars/vars";

@import "../../../common/css/components/button";

.btn, .btn-icon,
button.swal2-confirm.swal2-styled,
button.swal2-cancel.swal2-styled{
  [class^="icon-"]{
    font-size: 18px;
  }
}

.btn{
  position: relative;
  padding: 8px 16px;
  z-index: 5;

  &:before{
    content: "";
    display: block;
    width: 75%; height: 100%;
    position: absolute;
    top: 6px; left: 12.5%;
    border-radius: 4px;
    filter: blur(6px);
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover{
    opacity: 0.9;

    &:before{
      opacity: 1;
    }
  }
}

$icons:
        "reverse" var(--grey) var(--txt) var(--greyShadow),
        "color0" var(--color0) var(--alpha) var(--color0Shadow2);

@each $name, $bg, $txt, $shadow in $icons {
  .btn-#{$name} {
    background: $bg;
    color: $txt;
    border: 1px solid transparent;
    box-shadow: 0 4px 12px $shadow;
  }

  .btn-outline-#{$name} {
    background-color: var(--alpha);
    color: $bg;
    border: 1px solid $bg;
    box-shadow: 0 4px 12px $shadow;
  }
}

$icons:
        "primary" var(--primary) var(--primaryShadow),
        "danger" var(--danger) var(--dangerShadow),
        "success" var(--success) var(--successShadow),
        "warning" var(--warning) var(--warningShadow),
        "color0" var(--color0) var(--color0Shadow),
        "reverse" var(--grey) var(--greyShadow);

@each $name, $color, $bg in $icons {
  .btn-#{$name} {
    box-shadow: none;

    &:before{
      background-color: $bg
    }
  }

  .btn-outline-#{$name} {
    border-color: $bg;
    box-shadow: none;

    &:hover{
      border-color: $color;
    }
  }
}

.btn-warning{
  color: var(--alpha);
}

.btn-default{
  background-color: var(--fondContent);
  border-color: var(--grey);
  box-shadow: none;

  &:hover{
    border-color: var(--grey2);
  }
}

.btn-outline-default{
  box-shadow: none;

  &:hover{
    border-color: var(--grey2);
  }
}

.btn-icon{
  opacity: 1;
  color: var(--grey2);

  &:hover{
    color: var(--txt);
    opacity: 1;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .btn, .btn-icon,
  button.swal2-confirm.swal2-styled,
  button.swal2-cancel.swal2-styled{
    [class^="icon-"]{
      font-size: 20px;
    }
  }
}