@import '../vars/vars.scss';

@import "../../../common/css/components/form";

.form{
  border: 1px solid var(--grey);
}

.form-group .react-selectize.default.root-node:not(.open) {
  .react-selectize-control{
    background: var(--alpha);
  }
}

.react-selectize.default.root-node .react-selectize-control .react-selectize-placeholder{
  @include fontRegular();
}

.line{
  label{
    color: var(--grey3);
    text-transform: initial;
    @include fontSemibold();
  }
}

.form-group-error label{
  color: var(--error);
}

.switcher-items{
  .switcher-item{

    label{
      cursor: pointer;
      background-color: var(--danger);

      &:after{
        content: "\e912";
        top: 7px; left: 8.5px;
        font-size: 16px;
      }
    }

    &.checked{
      label{
        background-color: var(--color0);

        &:after{
          content: "\e959";
          color: var(--color0);
        }
      }
    }
  }
}

.checkbox-item, .radiobox-item{
  label{
    padding: 6px 16px;
    border: 1px solid var(--grey);
    background: var(--fondContent);
    color: var(--grey2);
    @include fontSemibold();
    text-transform: initial;

    &:hover{
      border-color: var(--color0);
    }
  }

  &.checked > label{
    border-color: var(--color0);
    background-color: var(--color0);
    color: var(--alpha);

    &:hover{
      background-color: var(--color0);
      color:var(--grey);
      border-style: solid;
    }
  }
}

.radiobox-item{
  &.checked > label{
    &:hover{
      background-color: var(--color0);
      border-color: var(--color0);
      color:var(--alpha);
    }
  }
}

.radiobox-item{
  label{
    border-radius: 100px;
  }
}

.input-label-help{
  display: inline-block;

  .btn-icon{
    padding-top: 0;
    padding-bottom: 0;

    [class^="icon-"]{
      font-size: 16px;
    }

    & > span:first-child{
      color: var(--primary);
    }

    .tooltip{
      top: -24px;
    }
  }
}