@import '../vars/vars.scss';

@import "../../../common/css/components/form";

.form-group .simple-select.react-selectize.default.root-node:not(.open) .react-selectize-control{
  background: var(--alpha);
}

.line{
  label{
    color: var(--grey3);
  }
}

.switcher-items{
  .switcher-item{

    label{
      cursor: pointer;

      &:after{
        content: "\e912";
        top: 7px; left: 8.5px;
        font-size: 16px;
      }
    }

    &.checked{
      label{
        &:after{
          content: "\e959";
        }
      }
    }
  }
}

.checkbox-item, .radiobox-item{
  &.checked > label{
    border-color: var(--color0);
    background-color: var(--color0);
    color: var(--alpha);

    &:hover{
      background-color: var(--color0);
      color:var(--grey);
      border-style: solid;
    }
  }

  label{
    padding: 6px 16px;
    border: 1px solid var(--grey);
    background: var(--fondContent);
    color: var(--grey3);

    &:hover{
      border-color: var(--color0);
    }
  }
}

.radiobox-item{
  &.checked > label{
    &:hover{
      background-color: var(--color0);
      border-color: var(--color0);
      color:var(--alpha);
    }
  }
}

.radiobox-item{
  label{
    border-radius: 100px;
  }
}