@import "../vars/vars";

header{
  padding: 8px 12px;
  background-color: var(--fond);
  border-bottom: 2px solid var(--fondContent);

  h1{
    font-size: 26px;
  }

  .header-container{
    position: relative;
    @include flex(column-reverse, flex-start, flex-end);
    margin: 8px 0 0 0;

    .left{
      margin-top: 12px;
    }

    .right{
      width: 100%;
      @include flex(row, center, flex-end);
    }

    .header-name{
      @include flex(row, center, flex-start);

      img{
        width: 42px; height: 42px;
        border-radius: 50px;
        box-shadow: 0 2px 6px var(--greyShadow);
        background-color: var(--fondContent);
        margin-left: 12px;
        transform: translateY(-2px);
      }
    }

    .profil{
      @include flex(column, flex-start, flex-start);

      & > span:first-child{
        @include fontSemibold();
      }
    }

    .logout{
      color: var(--grey2);

      &:hover{
        color: var(--txt);
      }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  header{
    .header-container{
      flex-direction: row;
      align-items: center;
      margin-top: 0;

      .left{
        margin-top: 0;
      }

      a{
        span:last-child{
          display: inline-block;
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  header{
    padding: 12px 24px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  header{
    padding: 16px 32px 12px 32px;
    margin-bottom: 36px;

    .header-container{
      @include maxscreen();
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  header{
    padding: 24px 32px 24px 32px;
  }
}