nav{
  border-bottom: 2px solid var(--fondContent);
}

.nav-header-logo{
  padding: 12px;

  img{
    width: 82px;
  }
}

.nav-mobile{
  position: absolute;
  top: 0; right: 0;
  padding: 14px 14px 12px 12px;
  cursor: pointer;
}

.nav-body{
  min-height: 92vh;
  display: none;
  background: var(--fondMenu);
  padding-top: 24px;

  a{
    @include flex(row, center, flex-start);
    padding: 12px;
    width: calc(100% - 24px);
    color: var(--fond);
    opacity: 0.7;

    [class^="icon-"]{
      display: inline-block;
      margin-right: 8px;
      transform: translateY(-1px);
    }


    &:hover{
      transform: translateX(5px);
    }

    &.active{
      opacity: 1;
    }
  }

  &.true{
    display: block;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: var(--fond);
    border-right: 2px solid var(--fondContent);
  }

  .nav-mobile{ display: none; }
  .nav-body{
    position: relative;
    @include flex(column, flex-start, space-between);
    min-height: 87vh;
    max-height: 87vh;
    overflow: auto;
    @include scrollbar();
    background: url("../../images/menu.jpg") no-repeat center;
    padding-bottom: 24px;

    &:before{
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      backdrop-filter: blur(48px);
    }

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: linear-gradient(var(--fond), transparent, transparent, transparent, transparent);
    }

    .items{
      margin: 0 12px;
      width: calc(100% - 24px);
    }

    a {
      position: relative;
      color: var(--grey2);
      opacity: 1;
      border-radius: 8px;
      margin-bottom: 12px;
      z-index: 5;

      &:hover{
        transform: translateX(0);
        color: var(--txt);
      }

      &.active{
        color: var(--txt);
        background-color: var(--fondContent);
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  nav{
    width: 17.5%;
  }
  .nav-header-logo{
    padding: 24px;
  }
  .nav-body{
    min-height: 84vh;
    max-height: 84vh;
    padding-top: 32px;

    .items{
      margin: 0 24px;
      width: calc(100% - 48px);
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  nav{
    width: 14%;
  }

  .nav-body {
    min-height: 85vh;
    max-height: 85vh;
  }

  .nav-header-logo{
    padding: 32px;
  }
}