@import "../vars/vars";

.page-default{

  section{
    border-radius: 12px;
    border: 1px solid var(--grey);
    background-color: var(--alpha);
  }

  .page-col-1{
    width: 100%;
    margin-bottom: 24px;
  }

  .comeback{
    margin-bottom: 24px;
  }

  .title-col-1{
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--txt);
  }

  .content-col-1{
    background-color: var(--fondContent);
    border-radius: 12px;
    padding: 12px;

    .btn{
      width: 100%;
    }

    &:not(:last-child){
      margin-bottom: 24px;
    }
  }

  .title-col-1, .tab-col-2{
    @include fontSemibold();
  }

  .tab-col-2{
    margin-bottom: 16px;

    & > .item{
      color: var(--grey2);
      border-bottom: 2px solid var(--grey);
      margin-bottom: 8px;
      padding-bottom: 8px;
      padding-right: 16px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      & > a{
        color: var(--grey2);
      }

      &:not(.active):hover,
      &.active{
        & > a{
          color: var(--txt);
        }
      }

      &:not(.active):hover{
        color: var(--txt);
      }

      &.active{
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }

  .title-col-2{
    margin-bottom: 24px;
  }

  .page-infos-2-image{
    max-width: 220px;
  }

  .page-infos-2-text{
    margin-top: 24px;
    font-size: 15px;

    & + .page-infos-2-actions{
      margin-top: 24px;
    }
  }

  .page-infos-2-actions{
    .btn:not(:last-child){
      margin-bottom: 12px;
    }
    a.btn{
      width: calc(100% - 48px);
    }
  }
}

.page-default-menu{
  .item{
    @include flex(row, center, flex-start);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    padding: 6px 4px;

    &:not(:last-child){
      margin-bottom: 8px;
    }

    &:before{
      content: "";
      display: block;
      width: 6px; height: 6px;
      border-radius: 12px;
      background-color: var(--grey2);
      margin-right: 8px;
      transition: all 0.2s ease-in-out;
    }

    &:hover,
    &.active{
      color: var(--primary);

      &:before{
        background-color: var(--primary);
      }
    }

    &.active{
      background-color: var(--color0Shadow2);
    }
  }
}

.page-infos{
  @include flex(column, center, center);
  margin-bottom: 24px;
  background-color: var(--fondContent);
  border: 1px solid var(--greyShadow);
  border-radius: 8px;
  padding: 12px;

  .image{
    max-width: 120px;
    margin-bottom: 24px;
  }

  .content{
    font-size: 15px;
  }
}

.page-actions{
  .common-actions{
    .dropdown{
      .dropdown-btn{
        background: transparent;
        border: none;
        padding: 8px;
        justify-content: flex-start;
      }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .page-default{

    .title-col-2{
      @include flex(row, flex-end, flex-start);
      margin-bottom: 28px;
    }

    .tab-col-2{
      @include flex(row, flex-start, flex-start);
      border-bottom: 2px solid var(--grey);
      margin-bottom: 0;
      margin-right: 24px;
      width: calc(100% - 24px);

      & > .item{
        margin-bottom: 0;
        transform: translateY(2px);

        &:not(:last-child){
          margin-right: 24px;
        }
      }
    }

    .tab-col-2 + button{
      width: 187px;
    }
  }

  .page-infos{
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    .image{
      margin-bottom: 0;
      margin-right: 24px;
      width: calc(20% - 24px);
    }

    .content{
      width: calc(100% - 20%);
    }
  }

  .page-actions{
    @include flex(row, flex-start, space-between);

    & > *{
      width: 50%;
    }

    .common-actions{
      @include flex(row, flex-start, flex-end);
      flex-wrap: wrap;

      & > *:not(:first-child){
        margin-left: 8px;
      }

      .dropdown{
        .dropdown-btn{
          justify-content: center;
        }
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .page-default{
    @include flex(row, flex-start, flex-start);

    .page-col-1{
      max-width: 260px;
    }

    .page-col-2{
      width: calc(100% - 260px - 48px);
      margin-left: 48px;
    }
    .page-infos-2-content{
      padding: 24px;
    }
  }

  .page-infos{
    padding: 24px;
  }
}
