@import "../vars/vars";

@import "../../../common/css/components/theme";

#theme{
  min-width: 50px;
}

.theme-container {
  .switcher-items .switcher-item label {
    &:after {
      content: "\e911";
      left: 7.5px;
      color: var(--txt);
    }
  }

  .switcher-items .switcher-item.checked label:after {
    content: "\e910";
  }
}

.dark-mode{
  nav{
    background-color: var(--fondMenu);

    .nav-mobile{
      & > [class^="icon-"]{
        color: var(--txt);
      }
    }
  }

  .nav-body {
    background: url("../../images/menu-light.jpg") no-repeat center;
  }

  .card-ad {
    &.card-draft {
      .card-footer {
        background-color: rgba(49, 46, 52, 0.5);
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .dark-mode {
    nav {
      background-color: var(--fond);
    }

    .nav-body{
      a{
        &.active{
          background-color: var(--fond);
        }
      }
    }
  }
}