{% extends 'user/pages/owners/template.html.twig' %}

{% set page_title %}Liste des propriétaires{% endset %}

{% block main_content %}
    <div id="list-owners" data-donnees="{{ data }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}