@import "../../../vars/vars";
@page {
  margin: 18px 24px;
}

.print-ad{
  page-break-after: always;

  h1{
    font-size: 24px;
  }

  .address{
    color: var(--grey3);
    font-size: 20px;
    @include fontSemibold();
    margin-top: 4px;
  }

  .features{
    margin: 4px 0 8px 0;
    font-size: 18px;
  }

  .price{
    margin-bottom: 8px;

    & > span:first-child{
      @include fontSemibold();
      color: var(--color0);
      font-size: 28px;
    }
  }

  .infos-price{
    color: var(--grey3);
    height: 150px;
    font-size: 16px;

    & > div{
      margin-bottom: 4px;
    }
  }

  .infos-footer{
    margin-top: 8px;
  }

  .reference{
    font-size: 14px;
    color: var(--grey3);
  }

  .diags-inline{
    @include flex(row, flex-start, flex-start);
    margin-top: 8px;
  }

  .diag-infos{
    margin-bottom: 2px;
  }

  .graphs{
    max-width: initial;
    width: 100%;
    @include flex(row, flex-start, space-between);

    .graph{
      width: 50%;
    }

    .graph:nth-child(2){
      margin-left: 24px;
    }
  }

  .diagnostic{
    margin-bottom: 18px;
  }

  .diagnostic-dpe{
    .diag-borne {
      margin-left: 196px;
    }
  }

  .diagnostic-ges{
    transform: translateX(0);
  }

  .diag-title{
    margin-bottom: 4px;
  }

  .diag-line{
    .number-2, &.active .number-2{
      display: flex;
      border-radius: 0;

      .flottant{
        bottom: -26px;
        left: 18px;
      }
    }
  }

  .diag-line .number-2, .diag-line.active .number-2{
    display: flex;
  }

  .diag-line .diag-letter,
  .diag-line .number{
    padding: 1px 8px 1px 8px;
  }

  .diag-line.active .number .value{
    font-size: 18px;
  }

  .diag-excessif{
    margin-top: 0;
    margin-bottom: 0;
  }

  .diag-details{
    .diag-dpe, .diag-ges{
      $sizes: (
              '1': 50%,
              '2': 56%,
              '3': 63%,
              '4': 73%,
              '5': 83%,
              '6': 93%,
              '7': 100%,
      );

      @each $i, $size in $sizes {
        .diag-line:nth-child(#{$i}){
          .diag-letter{
            width: calc(#{$size} - 100px - 100px - 16px - 4px);
          }
        }
      }
    }
  }
}

.print-ad-portrait{
  .line-1{
    @include flex(row, flex-start, flex-start);;

    .col-1{
      width: calc(50% - 48px);
      margin-right: 48px;
    }

    .col-2{
      width: 50%;
    }

    .image{
      img{
        width: 312px;
        height: 290px;
      }
    }
  }

  .line-2{
    position: relative;
    margin-top: 24px;

    &:before{
      content: "";
      background-color: var(--grey2);
      display: block;
      width: 100%; height: calc(100% - 72px);
      position: absolute;
      top: 48px;
      z-index: 0;
    }

    .images{
      position: relative;
      z-index: 1;
      @include flex(row, flex-start, space-between);

      img{
        width: 218px;
        height: 218px;
      }
    }
  }

  .line-3{
    @include flex(row, flex-start, flex-start);
    margin: 24px 0;
    padding-top: 24px;
    border-top: 1px solid var(--greyShadow);

    .col-1{
      width: calc(60% - 48px);
      margin-right: 48px;
      height: 300px;

      .content{
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }

    .col-2{
      width: 40%;
    }
  }

  .line-4{
    background-color: var(--greyShadow);
    padding: 24px 0;

    .col-1{
      @include flex(row, flex-start, flex-start);
    }

    .image{
      width: 64px;
      margin-left: 24px;
    }

    .infos{
      margin-left: 24px;

      &:not(:first-child){
        margin-left: 48px;
      }

      .name{
        @include fontSemibold();
        font-size: 20px;
        margin-bottom: 8px;
      }

      .name-sub{
        @include fontRegular();
      }
    }
  }
}

.print-ad-landscape{
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;

  .col-1{
    width: 320px;

    .line-1{
      .image{
        margin-bottom: 8px;

        img{
          width: 320px;
          height: 280px;
        }
      }
    }

    .line-2{
      .images{
        position: relative;
        z-index: 1;
        @include flex(row, flex-start, space-between);

        img{
          width: 96px;
          height: 96px;
        }
      }
    }
  }

  .col-2{
    width: calc(100% - 320px - 24px);
    margin-left: 24px;

    .line-1{
      @include flex(row, stretch, space-between);
    }

    .line-2{
      margin-top: 8px;
    }

    .content{
      -webkit-line-clamp: 5; /* number of lines to show */
      line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.3;
    }
  }

  .col-2-line-1-col-1{
    width: calc(100% - 200px - 12px);
    margin-right: 12px;
  }

  .col-2-line-1-col-2{
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    background-color: var(--greyShadow);
    font-size: 15px;
    padding: 12px;
    width: 200px;

    .image{
      width: 64px;
    }

    .infos:nth-child(2),
    .infos:nth-child(3),
    .infos:nth-child(4),{
      width: 100%;
    }

    .infos:nth-child(3),
    .infos:nth-child(4){
      margin-top: 8px;
    }

    .infos{
      .name{
        @include fontSemibold();
        font-size: 20px;
        margin-bottom: 4px;
        margin-top: 8px;
      }

      .name-sub{
        @include fontRegular();
      }
    }
  }

  .col-3{
    width: 100%;
    margin-top: 8px;
  }

  .infos-price{
    height: 120px;
  }

  .infos-footer{
    @include flex(row, flex-start, space-between);
  }

  .details-tab-infos{
    margin-top: 48px;
  }
}
