@import "../../../vars/vars";

.print-ad{
  page-break-after: always;

  h1{
    font-size: 24px;
  }

  .address{
    color: var(--grey3);
    font-size: 20px;
    @include fontSemibold();
    margin-top: 4px;
  }

  .features{
    margin: 12px 0;
    font-size: 18px;
  }

  .price{
    margin-bottom: 12px;

    & > span:first-child{
      @include fontSemibold();
      color: var(--color0);
      font-size: 28px;
    }
  }

  .infos-price{
    color: var(--grey3);
    height: 150px;
    font-size: 18px;

    & > div{
      margin-bottom: 4px;
    }
  }

  .infos-footer{
    margin-top: 12px;
  }

  .reference{
    font-size: 14px;
    color: var(--grey3);
    margin-top: 8px;
  }

  .details-tab-infos-main{
    + .details-tab-infos-main{
      margin-top: 12px;
    }
  }

  .diag-title{
    margin-bottom: 4px;
  }

  .diagnostic-details{
    .diag-dpe{
      .dpe{
        &.dpe_is-active2{
          & + .number{
            min-width: 40px;
            padding: 6px 8px 4px 8px;
            font-size: 18px;
          }
        }
      }

      $sizes: (
              '1': 13%,
              '2': 20%,
              '3': 28%,
              '4': 36%,
              '5': 44%,
              '6': 52%,
              '7': 62%,
      );

      @each $i, $size in $sizes {
        & > div:nth-child(#{$i}){
          width: $size;
        }

      }
    }
  }
}

.print-ad-portrait{
  .line-1{
    @include flex(row, flex-start, flex-start);;

    .col-1{
      width: calc(50% - 48px);
      margin-right: 48px;
    }

    .col-2{
      width: 50%;
    }

    .image{
      img{
        width: 312px;
        height: 290px;
      }
    }
  }

  .line-2{
    position: relative;
    margin-top: 24px;

    &:before{
      content: "";
      background-color: var(--grey2);
      display: block;
      width: 100%; height: calc(100% - 72px);
      position: absolute;
      top: 48px;
      z-index: 0;
    }

    .images{
      position: relative;
      z-index: 1;
      @include flex(row, flex-start, space-between);

      img{
        width: 218px;
        height: 218px;
      }
    }
  }

  .line-3{
    @include flex(row, flex-start, flex-start);
    margin: 24px 0;
    padding-top: 24px;
    border-top: 1px solid var(--greyShadow);

    .col-1{
      width: calc(60% - 48px);
      margin-right: 48px;
      height: 300px;

      .content{
        -webkit-line-clamp: 13; /* number of lines to show */
        line-clamp: 13;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }

    .col-2{
      width: 40%;
    }
  }

  .line-4{
    background-color: var(--greyShadow);
    padding: 24px 0;

    .col-1{
      @include flex(row, flex-start, flex-start);
    }

    .image{
      width: 64px;
      margin-left: 24px;
    }

    .infos{
      margin-left: 24px;

      &:not(:first-child){
        margin-left: 48px;
      }

      .name{
        @include fontSemibold();
        font-size: 20px;
        margin-bottom: 8px;
      }

      .name-sub{
        @include fontRegular();
      }
    }
  }
}

.print-ad-landscape{
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;

  .col-1{
    width: calc(50% - 48px);
    margin-right: 48px;

    .line-1{
      .image{
        margin-bottom: 8px;

        img{
          width: 442px;
          height: 380px;
        }
      }
    }

    .line-2{
      .images{
        position: relative;
        z-index: 1;
        @include flex(row, flex-start, space-between);

        img{
          width: 134px;
          height: 134px;
        }
      }
    }

    .line-3{
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      background-color: var(--greyShadow);
      padding: 12px 0;
      margin-top: 24px;

      .image{
        width: 64px;
        margin-left: 12px;
      }

      .infos:nth-child(2){
        width: calc(100% - 64px - 48px - 12px);
        margin-left: 48px;
      }

      .infos:nth-child(3),
      .infos:nth-child(4){
        margin-top: 12px;
      }

      .infos:nth-child(3){
        width: calc(50% - 12px);
        margin-left: 12px;
      }

      .infos:nth-child(4){
        width: 50%;
      }

      .infos{
        .name{
          @include fontSemibold();
          font-size: 20px;
          margin-bottom: 8px;
        }

        .name-sub{
          @include fontRegular();
        }
      }
    }
  }

  .col-2{
    width: 50%;
  }

  .col-3{
    width: 100%;
  }

  .infos-price{
    height: 120px;
  }

  .infos-footer{
    @include flex(row, flex-start, space-between);
  }

  .details-tab-infos{
    margin-top: 48px;
  }
}
