@import "../../../vars/vars";

.details-container,
.details-content-container{
  margin-bottom: 48px;
}

.details-pretitle{
  font-size: 14px;
  margin-bottom: 4px;
}

.details-title{
  @include fontSemibold();
  font-size: 22px;
}

.details-subtitle{
  margin-top: 12px;

  .details-subtitle-price{
    margin-top: 8px;
    font-size: 18px;
    color: var(--primary);
    @include fontSemibold();
  }
}

.details-main-infos{
  position: relative;

  .isDraft{

  }
}

.details-general{
  margin-top: 12px;
  @include flex(column, flex-start, space-between);

  .badges{
    margin-bottom: 8px;
  }

  .details-ad-actions{
    width: 100%;
    @include flex(row, flex-start, flex-end);

    & > *:not(:last-child){
      margin-left: 8px;
    }
  }

  .badge-default{
    background-color: var(--grey2);
  }

  .badge{
    &:not(:last-child){
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}

.details-nav{
  position: relative;
  margin-top: 24px;
  overflow: hidden;

  .details-nav-items{
    position: relative;
    @include flex(row, flex-start, flex-start);
    overflow: auto;
    padding-bottom: 4px;
    margin-bottom: 24px;

    &:after{
      content: "";
      display: block;
      width: 100%; height: 2px;
      background-color: var(--grey);
      position: absolute;
      bottom: 4px; left: 0;
      z-index: 0;
    }

    & > div{
      position: relative;
      margin-right: 12px;
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      opacity: 0.7;
      z-index: 1;
      @include fontSemibold();
      transition: all 0.2s ease-in-out;

      &:hover{
        opacity: 1;
        border-color: var(--grey);
      }

      &.active{
        opacity: 1;
        color: var(--primary);
        border-color: var(--primary);
      }
    }

    & > div:last-child{
      margin-right: 26px;
    }
  }
}

.details-tab-infos-main{
  background-color: var(--greyShadow);
  border-radius: 4px;
  padding: 12px;

  & + .details-tab-infos-main{
    margin-top: 24px;
  }

  & > div{
    margin-bottom: 12px;
  }

  .label{
    text-transform: uppercase;
    font-size: 14px;
    color: var(--grey2);
    margin-bottom: 2px;
  }
}

.details-tab-infos-content{
  .content{
    margin-bottom: 24px;
  }

  .contact{
    & > div:first-child{
      margin-bottom: 4px;
    }
  }

  .label{
    @include fontSemibold();
    font-size: 18px;
    margin-bottom: 8px;
  }

  p, .contact{
    background-color: var(--alpha);
    border: 1px solid var(--grey);
    padding: 12px;
    border-radius: 4px;
    line-height: 1.3;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .details-tab-infos-main{
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    padding: 24px 12px 0 12px;

    & > div{
      margin-right: 48px;
      margin-bottom: 24px;
    }
  }

  .details-general{
    flex-direction: row;
    align-items: center;

    .badges{
      width: 85%;
      margin-bottom: 0;
    }

    .details-ad-actions{
      width: 15%;
    }

    .badge{
      &:not(:last-child){
        margin-bottom: 0;
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .details-container{
    margin-bottom: 0;
    @include flex(row, stretch, flex-start);
  }
  .details-content-container{
    display: inline-block;
    width: calc(60% - 48px);
    margin-right: 48px;
  }
}