@import "../../../vars/vars";

.form-bien{
  padding: 12px;
}

.steps{
  position: relative;

  & > .item{
    @include flex(row, center, flex-start);
    @include fontSemibold();
    color: var(--grey2);

    &:not(:last-child){
      margin-bottom: 12px;
    }

    .number{
      display: inline-block;
      @include flex(row, center, center);
      border-radius: 4px;
      background-color: var(--grey);
      width: 24px; height: 24px;
      margin-right: 8px;
    }

    &.active{
      color: var(--txt);

      .number{
        background-color: var(--primary);
        color: var(--alpha);
      }
    }
  }
}

.line:not(.line-buttons){
  border-bottom: 1px solid var(--fondContent);
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.line-buttons{
  margin-top: 32px;

  & > .btn:not(:last-child){
    margin-bottom: 12px;
  }
}

.special-line{
  & > .form-group:first-child{
    align-items: center;

    & > label{
      @include fontSemibold();
      color: var(--txt);
      margin-bottom: 16px;
    }

    .radiobox-items{
      justify-content: center;
    }

    .radiobox-item label{
      padding: 6px 24px;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .line-buttons{
    flex-direction: row;
    justify-content: space-between;

    & > .btn:not(:last-child){
      margin-bottom: 0;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .form-bien{
    padding: 24px;
  }

  .page-default{
    .steps{
      padding-bottom: 120px;
    }
  }
}