@import "../../../vars/vars";

.form-bien{
  padding: 12px;
  border-radius: 12px;
  background-color: var(--fondContent);

  .radiobox-item{
    label{
      background-color: var(--alpha);
    }

    &.checked{
      label{
        background-color: var(--color0);
      }
    }
  }

  .special-line:not(.line-buttons) {
    border-bottom: 1px solid var(--grey);
  }

  .diag-title{
    display: none;
  }

  .diagnostic{
    width: 100%;
  }
}

.percentage-infos{
  .page-infos-2-text{
    margin-top: 0;
  }
}

.percentage-required{
  @include flex(row, center, flex-start);

  .percentage-required-txt{
    width: calc(100% - 64px - 12px);
    margin-left: 12px;
  }

  .percentage-required-txt, figcaption{
    color: var(--grey3);
  }

  .chart-two.animate {
    svg .circle-foreground {
      animation-duration: 1s;
    }

    &.animate {
      figcaption:after {
        animation-duration: 1s;
      }
    }
  }
}

.line-infos{
  margin-bottom: 24px;
}

.steps{
  position: relative;

  & > .item{
    @include flex(row, center, flex-start);
    @include fontSemibold();
    color: var(--grey2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:not(:last-child){
      margin-bottom: 12px;
    }

    .number{
      display: inline-block;
      @include flex(row, center, center);
      border-radius: 4px;
      background-color: var(--grey);
      width: 24px; height: 24px;
      margin-right: 8px;
    }

    &:hover{
      color: var(--txt);
    }

    &.active{
      color: var(--txt);

      .number{
        background-color: var(--primary);
        color: var(--alpha);
      }
    }
  }
}

.special-line:not(.line-buttons){
  border-bottom: 1px solid var(--fondContent);
}

.special-line{
  & > .form-group:first-child{
    align-items: center;

    & > label{
      @include fontBold();
      color: var(--txt);
      margin-bottom: 16px;
      text-transform: uppercase;
      font-size: 20px;
    }

    .radiobox-items{
      justify-content: center;
    }

    .radiobox-item label{
      padding: 8px 24px;
      width: calc(220px - 48px - 2px);
      text-align: center;
    }

    & + .line-mt{
      margin-top: 6px;
    }
  }

  & > .form-group-error:first-child{
    & > label{
      color: var(--error);
    }
  }
}

.step-section{
  display: none;

  &.active{
    display: block;
  }

  & > .line:not(.line-buttons){
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.line-buttons{
  margin-top: 32px;

  .btns-submit > .btn:not(:last-child),
  & > .btn:not(:last-child){
    margin-bottom: 12px;
  }

  .btns-submit{
    & > .btn {
      width: 100%;
    }
  }
}

.line.line-infinite{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 12px);
  margin-bottom: 0;

  & > .form-group{
    width: calc(50% - 12px);
    margin-bottom: 16px;
  }

  & > .form-group:not(:last-child){
    margin-right: 12px;
  }

  & > .form-group-radiobox{
    width: 100%;
  }
}

.grab-over{
  background-color: var(--grey);
}

.legend-photo{
  max-width: 126px;
  margin-bottom: 24px;
}

.name-legend {
  .tooltip{
    min-width: 60px;
  }
}

.form-bien{
  .item-drag{
    cursor: grab;
  }
  .item{
    .name{
      .btn-icon{
        padding: 0;
      }
    }
  }
  .item.trash{
    opacity: 0.7;

    .col-1, .col-2, .col-3{
      text-decoration: line-through;
    }
  }
}

.contact-line{
  .items-table{
    width: 100%;
    margin-top: 24px;
  }
}

.contact-aside{
  @include toolbarCreateFilterSearch(224);

  .selector, .col-1, .col-2, .col-3{
    cursor: pointer;
  }
}

textarea{
  resize:vertical;
}

.line-buttons{
  .btn-submit{
    width: 100%;

    .btn{
      width: 100%;
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .line-buttons{
    flex-direction: row;
    justify-content: space-between;

    .btns-submit > .btn:not(:last-child),
    & > .btn:not(:last-child){
      margin-bottom: 0;
    }

    .btns-submit{
      @include flex(row, flex-start, flex-start);
      width: 62%;

      & > .btn:first-child{
        margin-right: 12px;
      }
    }
  }

  .line.line-infinite{
    & > .form-group{
      width: calc(120px - 8px);
    }

    & > .form-group-radiobox{
      width: 100%;
    }
  }

  .form-bien{
    .diagnostic-ges{
      transform: translateX(0);
    }

    .diag-details{
      .diag-dpe, .diag-ges{
        $sizes: (
                '1': 65%,
                '2': 68%,
                '3': 73%,
                '4': 80%,
                '5': 86%,
                '6': 93%,
                '7': 100%,
        );

        @each $i, $size in $sizes {
          .diag-line:nth-child(#{$i}){
            .diag-letter{
              width: calc(#{$size} - 100px - 100px - 16px - 4px);
            }
          }
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .contact-aside {
    .aside{
      width: 80%;
    }
  }
}


//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .form-bien{
    padding: 24px;

    .diag-details{

      .diag-dpe, .diag-ges{
        $sizes: (
                '1': 77%,
                '2': 80%,
                '3': 83%,
                '4': 86%,
                '5': 90%,
                '6': 93%,
                '7': 100%,
        );

        @each $i, $size in $sizes {
          .diag-line:nth-child(#{$i}){
            .diag-letter{
              width: calc(#{$size} - 100px - 100px - 16px - 4px);
            }
          }
        }
      }
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width:1600px) {
  .form-bien{
    .diag-details{
      .diag-dpe, .diag-ges{
        $sizes: (
                '1': 53%,
                '2': 56%,
                '3': 63%,
                '4': 73%,
                '5': 83%,
                '6': 93%,
                '7': 100%,
        );

        @each $i, $size in $sizes {
          .diag-line:nth-child(#{$i}){
            .diag-letter{
              width: calc(#{$size} - 100px - 100px - 16px - 4px);
            }
          }
        }
      }
    }
  }
}
