@import "../../../vars/vars";

.form-bien{
  padding: 12px;
}

.line-infos{
  margin-bottom: 24px;
}

.steps{
  position: relative;

  & > .item{
    @include flex(row, center, flex-start);
    @include fontSemibold();
    color: var(--grey2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:not(:last-child){
      margin-bottom: 12px;
    }

    .number{
      display: inline-block;
      @include flex(row, center, center);
      border-radius: 4px;
      background-color: var(--grey);
      width: 24px; height: 24px;
      margin-right: 8px;
    }

    &:hover{
      color: var(--txt);
    }

    &.active{
      color: var(--txt);

      .number{
        background-color: var(--primary);
        color: var(--alpha);
      }
    }
  }
}

.special-line:not(.line-buttons){
  border-bottom: 1px solid var(--fondContent);
}

.special-line{
  & > .form-group:first-child{
    align-items: center;

    & > label{
      @include fontBold();
      color: var(--txt);
      margin-bottom: 16px;
      text-transform: uppercase;
      font-size: 20px;
    }

    .radiobox-items{
      justify-content: center;
    }

    .radiobox-item label{
      padding: 8px 24px;
      width: calc(220px - 48px - 2px);
      text-align: center;
    }

    & + .line-mt{
      margin-top: 6px;
    }
  }

  & > .form-group-error:first-child{
    & > label{
      color: var(--error);
    }
  }
}

.step-section{
  display: none;

  &.active{
    display: block;
  }

  & > .line:not(.line-buttons){
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.line-buttons{
  margin-top: 32px;

  .btns-submit > .btn:not(:last-child),
  & > .btn:not(:last-child){
    margin-bottom: 12px;
  }

  .btns-submit{
    & > .btn {
      width: 100%;
    }
  }
}

.line.line-infinite{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 12px);
  margin-bottom: 0;

  & > .form-group{
    width: calc(50% - 12px);
    margin-bottom: 16px;
  }

  & > .form-group:not(:last-child){
    margin-right: 12px;
  }

  & > .form-group-radiobox{
    width: 100%;
  }
}

.grab-over{
  background-color: var(--grey);
}

.legend-photo{
  max-width: 126px;
  margin-bottom: 24px;
}

.name-legend {
  .tooltip{
    min-width: 60px;
  }
}

.form-bien{
  .item-drag{
    cursor: grab;
  }
  .item{
    .name{
      .btn-icon{
        padding: 0;
      }
    }
  }
  .item.trash{
    opacity: 0.7;

    .col-1, .col-2, .col-3{
      text-decoration: line-through;
    }
  }
}

.contact-line{
  .items-table{
    width: 100%;
    margin-top: 24px;
  }
}

.contact-aside{
  @include toolbarCreateSearch(224);

  .selector, .col-1, .col-2, .col-3{
    cursor: pointer;
  }
}

.synthese-bloc{
  .card-ad{
    .card-main{
      width: 100%;
    }

    .negociateur{
      cursor: initial;
    }

    .card-footer{
      & > div{
        margin-bottom: 12px;
      }
      .footer-actions{
        width: 100%;
        margin-bottom: 0;

        .createdAt{
          font-size: 14px;
        }
      }
    }
  }
}

textarea{
  resize:vertical;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .line-buttons{
    flex-direction: row;
    justify-content: space-between;

    .btns-submit > .btn:not(:last-child),
    & > .btn:not(:last-child){
      margin-bottom: 0;
    }

    .btns-submit{
      @include flex(row, flex-start, flex-start);
      width: 62%;

      & > .btn:first-child{
        margin-right: 12px;
      }
    }
  }

  .line.line-infinite{
    & > .form-group{
      width: calc(16% - 8px);
    }

    & > .form-group-radiobox{
      width: 100%;
    }
  }

  .synthese-bloc{
    .card-ad{
      .card-footer{
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;

        & > div{
          width: 50%;
        }
        .footer-actions{
        }
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .contact-aside {
    .aside{
      width: 80%;
    }
  }
}


//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .form-bien{
    padding: 24px;
  }

  .page-default{
    .steps{
      padding-bottom: 120px;
    }
  }
}