@import "../../../vars/vars";

#suivi-bien{

  .toolbar-prospect{
    .filter-search{
      margin-left: 0;
      width: 100%;

      .dropdown-btn{
        padding: 11px 12px;
      }
    }
  }
}

.suivi-global{

  .card{
    padding: 12px;
    background-color: var(--fondContent);
    @include flex(column, flex-start, space-between);
    border: 1px solid var(--grey);
    border-radius: 4px;
    margin-bottom: 12px;
    color: var(--txt);

    .icon{
      font-size: 26px;
      margin-bottom: 10px;
    }

    .title{
      opacity: 0.7;
      margin-bottom: 24px;
    }

    .number{
      font-size: 18px;
      @include fontSemibold();
    }
  }
}

.suivi-section{

  &:not(:last-child){
    margin-bottom: 24px;
  }

  .title{
    @include fontSemibold();
    font-size: 20px;
    margin-bottom: 12px;
  }
}

.card-ra{
  @include flex(row, center, flex-start);
  margin-bottom: 12px;

  .selector{
    width: 34px;
  }

  .address{
    margin-top: 4px;
  }

  .sub, .address{
    font-size: 15px;
    color: var(--grey3);
  }

  .title{
    @include fontSemibold();
  }

  .card-main{
    border-radius: 4px;
    background-color: var(--alpha);
    border: 1px solid var(--grey);
    width: calc(100% - 2px);
  }

  .card-body{
    position: relative;

    .infos{
      padding: 12px;
      margin-top: 12px;
    }

    .col-3{
      @include flex(column, flex-end, flex-end);
    }

    .identifier{
      margin-bottom: 12px;
      display: block;
      color: var(--txt);
    }
  }

  .card-footer{
    padding: 4px 12px;
    background-color: var(--fondContent);

    .offer{
      @include flex(row, flex-start, flex-start);
      padding-top: 12px;
      color: var(--grey3);
      font-size: 15px;

      & > div:not(:last-child){
        margin-right: 12px;
      }

      .pricePropal{
        color: var(--txt);
        @include fontSemibold();
      }

      .offer-answer{
        @include fontSemibold();
      }
    }

    .footer-actions{
      margin-top: 12px;
    }

    .actions{
      margin-top: 8px;
      text-align: right;
    }
  }
}

.ra-percentage{
  position: relative;

  &:hover{
    .tooltip{
      opacity: 1;
      z-index: 1;
    }
  }
}

.bien-contracts{
  .toolbar{
    .filter-search{
      margin-left: 0;

      .filter{
        margin-right: 12px;
      }

      .dropdown-btn{
        border-right: 1px solid var(--grey);
      }
    }
  }
}

.page-default{
  .rapprochement-submenu{
    & > .item{
      @include flex(row, center, flex-start);

      .total{
        @include flex(row, center, center);
        margin-left: 8px;
        color: var(--alpha);
        background-color: var(--grey2);
        border-radius: 4px;
        width: 20px; height: 20px;
        opacity: 0.8;

        span{
          display: inline-block;
          font-size: 14px;
          transform: translateY(2px);
        }
      }

      &.active{
        .total{
          background-color: var(--primary);
        }
      }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .suivi-container{
    .aside{
      width: 60%;
    }
  }

  .suivi-global{
    .cards{
      @include flex(row, flex-start, flex-start);
      width: calc(100% + 12px);

      .card{
        width: calc(25% - 12px);
        margin-right: 12px;
      }
    }
  }

  #read-bien{
    .suivi-global{
      .cards{
        .card{
          width: calc(50% - 12px);
        }
      }
    }
  }

  .card-ra{
    margin-bottom: 24px;

    .card-body{
      @include flex(row, stretch, flex-start);
      border-bottom: 1px solid var(--grey);

      .identifier{
        margin-bottom: 0;
      }

      .infos{
        margin-top: 0;
        @include flex(row, stretch, flex-start);
        width: 100%;

        .col-1{
          width: calc(100% - (40% - 12px) - 120px);
          margin-right: 12px;
        }

        .col-2{
          width: calc(40% - 12px);
          margin-right: 12px;
        }

        .col-3{
          width: 120px;
          justify-content: space-between;
        }
      }
    }

    .card-footer{

      .commentary{
        width: calc(100% - 184px);
        font-size: 15px;
      }

      .footer-actions{
        margin-top: 0;
        @include flex(row, flex-end, space-between);
      }

      .actions{
        margin-top: 0;
      }
    }
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  #suivi-bien{
    .aside{
      width: 90%;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  #suivi-bien{
    .aside{
      width: 70%;
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .card-ra{
    .card-body{

      .infos{
        .col-1{
          width: calc(100% - (45% - 12px) - 120px);
        }

        .col-2{
          width: calc(45% - 12px);
        }
      }
    }
  }
}
