@import "../../../vars/vars";

.synthese-bloc{
  .card-ad{
    .card-main{
      width: 100%;
    }

    .negociateur{
      cursor: initial;
    }

    .card-footer{
      & > div{
        margin-bottom: 12px;
      }
      .footer-actions{
        width: 100%;
        margin-bottom: 0;

        .createdAt{
          font-size: 14px;
        }
      }
    }
  }

  .synthese-financial{
    margin-top: 12px;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .synthese-bloc{
    .card-ad{
      .card-footer{
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;

        & > div{
          width: 50%;
        }
        .footer-actions{
        }
      }
    }
  }
}