.line-dest-options{
  margin-top: -20px;
  transform: translateY(48px);

  & + .line-to{
    width: calc(100% - 40px - 24px);
  }

  .actions{
    @include flex(row, flex-start, flex-end);

    & > div{
      color: var(--primary);
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.2s ease-in-out;

      &:hover{
        opacity: 1;
      }

      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}
