.boite-mail{
  .mail-item{
    .actions{
      @include flex(row, center, space-between);

      .createdAt{
        font-size: 15px;
        color: var(--grey3);
      }
    }

    .item-header{
      @include flex(row, flex-start, flex-start);
      margin-top: 12px;
      overflow: auto;
      @include scrollbar();

      &::-webkit-scrollbar{
        height: 3px;
      }

      .avatar{
        width: 56px; height: 56px;

        span{
          font-size: 20px;
        }
      }

      .content{
        width: calc(100% - 56px - 12px);
        margin-left: 12px;

        .createdAt{
          margin-bottom: 12px;
          margin-top: 2px;
        }

        .destinators, .name{
          @include flex(row, flex-start, flex-start);

          & > div:first-child{
            @include flex(row, flex-start, space-between);
            width: 44px;
            color: var(--grey3);
          }

          & > div:last-child{
            width: calc(100% - 44px - 4px);
            margin-left: 4px;
          }

          .items{
            span{
              display: inline-block;
            }

            span:not(:last-child){
              margin-right: 4px;
            }
          }
        }

        .name{
          .items{
            span{
              @include fontSemibold();
            }
          }
        }

        .destinators{
          &:not(&.name){
            margin-bottom: 8px;
          }

          .items{
            span{
              background-color: var(--primaryShadow2);
              border-radius: 4px;
              padding: 2px 4px;
              font-size: 15px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }

    .item-body{
      .subject{
        @include fontSemibold();
        font-size: 20px;
        border-top: 1px solid var(--greyShadow);
        border-bottom: 1px solid var(--greyShadow);
        margin: 24px 0;
        padding: 12px 0;
      }
    }
  }
}
