.boite-mail{
  .mail-list{

    .title{
      @include flex(row, center, flex-start);
      padding: 24px;
      border-bottom: 1px solid var(--greyShadow);
      @include fontSemibold();
      text-transform: uppercase;

      [class^="icon-"]{
        display: inline-block;
        margin-right: 8px;
        color: var(--grey3);
        font-weight: 600;
      }
    }

    .item{
      @include flex(row, flex-start, space-between);
      height: 42px;
      cursor: pointer;
      padding: 12px 24px;
      transition: all 0.2s ease-in-out;

      &.true, &:hover{
        background-color: var(--primaryShadow2);
      }

      &:not(:last-child){
        border-bottom: 1px solid var(--greyShadow);
      }

      .expeditor{
        @include flex(row, flex-start, flex-start);
        width: calc(100% - 30px - 12px);
        margin-right: 12px;

        .content{
          width: calc(100% - 32px - 8px);
          padding-bottom: 4px;
          margin-left: 8px;
          overflow: auto;
          @include scrollbar();

          &::-webkit-scrollbar{
            height: 3px;
          }
        }

        .name{
          @include fontSemibold();
          margin-bottom: 4px;
        }

        .subject{
          font-size: 15px;
          color: var(--grey3);
        }
      }

      .createdAt{
        width: 30px;
        font-size: 12px;
        color: var(--grey3);
      }
    }
  }

}
