{% extends 'admin/pages/mails/template.html.twig' %}

{% set page_title %}Boite de réception{% endset %}

{% block main_content %}
    <div class="main-content" id="mails">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}