{% extends 'admin/pages/mails/template.html.twig' %}

{% set page_title %}Boite d'envoies{% endset %}

{% block main_content %}
    <div id="mails-sends" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
