{% extends 'admin/pages/mails/template.html.twig' %}

{% set page_title %}Boite de réception{% endset %}

{% block main_content %}
    <div class="main-content">
        <div id="mails" data-users="{{ users }}">
            {% include "dashboard/layout/components/spinner.html.twig" %}
        </div>
        <div class="previsualisation">
            <h2>Prévisualisation du mail</h2>
            <div id="preview"></div>
        </div>
    </div>
{% endblock %}