{% extends 'user/pages/visits/template.html.twig' %}

{% set page_title %}Liste des visites{% endset %}
{% set submenuActive = "Liste des visites" %}

{% block main_content %}
    <div id="list-visits" data-donnees="{{ donnees }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}