#calendar{

  .fc .fc-scroller,
  .fc .fc-scroller-liquid-absolute{
    @include scrollbar();

    &::-webkit-scrollbar {
      width: 17px;
    }
  }

  .fc-view-harness.fc-view-harness-active{
    min-height: 220vh;
  }

  .fc-toolbar{
    flex-direction: column;

    & > *{
      margin-bottom: 12px;
    }
  }

  .fc .fc-timegrid-col.fc-day-today,
  .fc .fc-daygrid-day.fc-day-today{
    background-color: var(--primaryShadow);
  }

  .fc .fc-timeGridDay-view{
    .fc-timegrid-col.fc-day-today,
    .fc-daygrid-day.fc-day-today{
      background-color: transparent;
    }
  }


  .fc .fc-timegrid-axis-cushion,
  .fc .fc-timegrid-slot-label-cushion{
    padding: 0 7px 0 5px;
  }

  .fc .fc-col-header-cell-cushion{
    padding: 8px 4px;
    text-transform: capitalize;
  }

  .fc .fc-timegrid-slot{
    height: 2.5em;
  }

  .fc-theme-standard td.fc-timegrid-divider.fc-cell-shaded{
    border-bottom: none;
  }

  .fc-theme-standard .fc-scrollgrid{
    border-radius: 4px;
  }

  .fc-v-event .fc-event-main,
  .fc-v-event .fc-event-title,
  .fc-timegrid-event-harness > .fc-timegrid-event{
    overflow: auto;
    @include scrollbar();
  }

  // event card
  .fc-daygrid-event-harness > .fc-daygrid-event,
  .fc-timegrid-event-harness > .fc-timegrid-event,
  .fc-list-event{
    .time{
      padding: 4px 4px 0 4px;
    }

    .title, .sub{
      padding: 0 4px;
    }

    .title{
      @include fontSemibold();
      padding-top: 1px;
    }
  }

  .event{
    font-size: 14px;
    color: var(--alpha);

    $status:
            "0" var(--grey3),
            "1" var(--primary),
            "2" var(--warning),
            "3" var(--danger),
  ;

    @each $number, $bg in $status {
      &.event-#{$number}{
        background-color: $bg;
        border-color: $bg;
      }
    }
  }
}
//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  #calendar {

    .fc-view-harness.fc-view-harness-active{
      min-height: 140vh;
    }

    .fc-toolbar {
      flex-direction: row;

      & > * {
        margin-bottom: 0;
      }
    }
  }
}
