.btn-dropdown{
  position: relative;
  display: inline-block;

  .dropdown-separator{
    height: 1px;
    background: var(--greyShadow);
  }

  .btn-icon, .btn{
    position: relative;

    &:hover{

      & + .dropdown-items,
      & + .dropdown-items{
        opacity: 1;
        z-index: 12;
      }
    }
  }

  .item{
    width: calc(100% - 24px);
    word-break: break-word;
    text-align: right;
    padding: 6px 12px;
  }

  a{
    cursor: pointer;
  }

  a, .btn, .btn-icon, div{
    color: var(--grey3);
    cursor: pointer;

    &:hover{
      color: var(--txt);
    }
  }
}

.dropdown-items{
  position: absolute;
  width: 190px;
  top: 42px; right: 0;
  padding: 4px 0;
  background: var(--alpha);
  box-shadow: 0 4px 12px var(--grey);
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;

  .item{
    padding: 6px 12px;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
  }

  &:hover{
    opacity: 1;
    z-index: 12;
  }
}
