$dpeA: rgb(0,172,121);
$dpeB: rgb(74,185,97);
$dpeC: rgb(152,205,125);
$dpeD: rgb(237,233,49);
$dpeE: rgb(239,176,37);
$dpeF: rgb(238,132,61);
$dpeG: rgb(221,40,42);

$gesA: rgb(145,216,247);
$gesB: rgb(121,171,203);
$gesC: rgb(102,136,170);
$gesD: rgb(83,101,135);
$gesE: rgb(65,73,108);
$gesF: rgb(48,46,80);
$gesG: rgb(28,13,53);

$colorsDPE: (
        'a': $dpeA,
        'b': $dpeB,
        'c': $dpeC,
        'd': $dpeD,
        'e': $dpeE,
        'f': $dpeF,
        'g': $dpeG,
);

$colorsGES: (
        'a': $gesA,
        'b': $gesB,
        'c': $gesC,
        'd': $gesD,
        'e': $gesE,
        'f': $gesF,
        'g': $gesG,
);

@each $letter, $color in $colorsDPE{
  .dpe-#{$letter}{
    background-color: $color;
    color: var(--alpha);
  }
}
@each $letter, $color in $colorsGES{
  .ges-#{$letter}{
    background-color: $color;
    color: var(--alpha);
  }
}

.diag-details{
  margin: 4px 0 8px 0;

  .diag-dpe, .diag-ges{
    width: 100%;

    $sizes: (
            '1': 50%,
            '2': 56%,
            '3': 63%,
            '4': 73%,
            '5': 83%,
            '6': 93%,
            '7': 100%,
    );

    @each $i, $size in $sizes {
      .diag-line:nth-child(#{$i}){
        .diag-letter{
          width: calc(#{$size} - 100px - 16px - 4px);
        }
      }
    }
  }
}

.graphs{
  max-width: 540px;
}

.diagnostic{
  margin-bottom: 8px;
}

.diag-infos{
  margin-bottom: 24px;
}

.diag-title{
  text-decoration: underline;
  margin-bottom: 8px;
}

.diag-borne{
  margin-left: 98px;
  @include fontSemibold();
  opacity: 0.8;
  font-size: 15px;
}

.diag-excessif{
  @include fontSemibold();
  margin-top: 8px;
  margin-bottom: 8px;
}

.diags{
  .graph:not(:last-child){
    margin-bottom: 24px;
  }
}

.diag-line{
  @include flex(row, stretch, flex-start);

  &:not(:last-child){
    margin-bottom: 3px;
  }

  .number{
    position: relative;
    width: calc(100px - 16px - 4px);
    padding: 5px 8px 2px 8px;
    border: 2px solid transparent;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: var(--alpha);
    opacity: 0;
  }

  .diag-letter{
    @include flex(row, center, flex-start);
    @include fontSemibold();
    width: calc(100% - 100px - 16px - 4px);
    padding: 5px 8px 2px 8px;
    border-radius: 0 4px 4px 0;
    border: 2px solid transparent;
  }

  .flottant{
    position: absolute;
    bottom: -41px;
    left: 0;
    font-size: 14px;
    text-align: center;

    & > div:first-child{
      @include fontSemibold();
    }

    & > div:nth-child(2){
      font-size: 12px;
    }
  }

  &.active{
    .number{
      @include flex(column, center, center);
      padding: 8px 8px 7px 8px;
      border-color: var(--txt);
      opacity: 1;

      .value{
        @include fontSemibold();
        font-size: 22px;
      }

      .unity{
        font-size: 14px;
      }
    }

    .diag-letter{
      border-color: var(--txt);
      padding: 8px 8px 7px 8px;
    }

    .letter{
      font-size: 22px;
    }
  }

  .number-2, &.active .number-2{
    display: none;
  }
}


.diagnostic-dpe{
  .diag-borne{
    &:first-child{
      color: rgb(0,172,121);
    }
    &:last-child{
      color: rgb(221,40,42);
    }
  }
}

.diagnostic-ges{
  .diag-line{
    .flottant{
      bottom: -26px;
      left: 18px;
    }
  }

  .diag-borne{
    &:first-child{
      color: rgb(145,216,247);
    }
    &:last-child{
      color: rgb(28,13,53);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .diagnostic{
    margin-bottom: 18px;
  }

  .diagnostic-dpe{
    .diag-borne {
      margin-left: 196px;
    }
  }

  .diagnostic-ges{
    transform: translateX(98px);
  }

  .diag-line{
    .number-2, &.active .number-2{
      display: flex;
      border-radius: 0;

      .flottant{
        bottom: -26px;
        left: 18px;
      }
    }
  }

  .diag-details{

    .diag-dpe, .diag-ges{
      $sizes: (
              '1': 50%,
              '2': 56%,
              '3': 63%,
              '4': 73%,
              '5': 83%,
              '6': 93%,
              '7': 100%,
      );

      @each $i, $size in $sizes {
        .diag-line:nth-child(#{$i}){
          .diag-letter{
            width: calc(#{$size} - 100px - 100px - 16px - 4px);
          }
        }
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
}
