.negotiator-bubble{
  @include flex(row, center, flex-start);

  .image{
    @include avatar(24);
    margin-right: 4px;
  }

  .title{
    transform: translateY(2px);
    color: var(--grey3);
    font-size: 15px;
  }
}

.card-ad, .card-ra{
  .negociateurs-owners{
    @include flex(row, flex-start, flex-start);

    & > .negociateur{
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }

  .negociateur{
    position: relative;
    cursor: pointer;

    .tooltip{
      min-width: 90px;
    }

    &:hover{
      .tooltip{
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .avatar{
    @include flex(row, center, center);
    width: 32px; height: 32px;
    border-radius: 100px;
    background-color: var(--grey);
    box-shadow: 0 4px 12px var(--greyShadow);
    overflow: hidden;

    [class^="icon-"]{
      color: var(--grey4)
    }
  }
}
