.negotiator-bubble{
  @include flex(row, center, flex-start);

  .image{
    @include avatar(24);
    margin-right: 4px;
  }

  .title{
    transform: translateY(2px);
    color: var(--grey3);
    font-size: 15px;
  }
}