.pagination{
  @include flex(row, center, flex-end);
  list-style: none;
  padding-left: 0;
}

.pagination > li.disabled{
  color: var(--grey);

  & > a{
    cursor: not-allowed;
    outline-color: transparent;

    &:hover{
      background-color: transparent;
      color: var(--grey);
    }
  }
}

.pagination > li{

  &:not(:last-child), &:not(:first-child){
    margin: 0 2px;
  }

  &.active{
    border-radius: 3px;
    background-color: var(--primary);
    color: var(--alpha);
  }
}

.pagination > li > a{
  @include flex(row, center, center);
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  min-width: 31px; min-height: 31px;
  outline-color: var(--primaryShadow);

  &:hover{
    background-color: var(--primaryShadow);
    color: var(--alpha);
  }
}

.input-page{
  @include flex(row, center, flex-end);
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .sorter-pagination{
    @include flex(row, flex-start, space-between);
    margin-bottom: 24px;
  }

  .actions-pagination, .actions-sorter{
    .line{
      margin-bottom: 0;
      justify-content: flex-end;
    }

    .line > .form-group:not(:last-child){
      margin-bottom: 0;
    }

    .form-group{
      flex-direction: row;
      align-items: center;

      select{
        width: 64px;
        margin-left: 12px;
      }
    }
  }

  .actions-pagination{
    width: 65%;

    .line.line-2{
      flex-direction: column;

      & > .form-group:first-child{
        width: 100%;
        justify-content: flex-end;
      }
    }
    .pagination-container{
      @include flex(row, flex-start, flex-end);
      margin-top: 12px;
    }
    .pagination{
      margin: 0;
    }
  }

  .actions-sorter{
    width: 35%;

    .line {
      .form-group{
        margin-bottom: 0;

        select{
          width: 125px;
        }
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .actions-pagination{
    .line.line-2{
      flex-direction: row;

      & > .form-group:first-child{
        width: 50%;
      }
    }
    .pagination-container{
      margin-top: 0;
    }
  }
}