.progress{
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: var(--greyShadow);

  &:after{
    content: "";
    display: block;
    background-color: var(--primary);
    height: 4px;
    position: absolute;
    top: 0; left: 0;
    border-radius: 100px;
  }

  @for $i from 1 through 100{
    &.progress-#{$i}{
      &:after{
        width: calc(#{$i} * 1%);
      }
    }
  }
}