.tooltip{
  position: absolute;
  top: -200000px; right: 6px;
  font-size: 12px;
  background: var(--grey);
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
}

.theme-container, .btn-notif, .btn-icon{
  &:hover{
    .tooltip{
      top: -24px;
      opacity: 1;
      z-index: 1;
    }
  }
}