@import "../vars/vars";

.previsualisation{
  margin-top: 48px;

  h2{
    background-color: var(--fondContent);
    padding: 12px;
    text-align: center;
  }

  #preview{
    background-color: var(--alpha);
    border: 1px solid var(--grey);
    padding: 12px;
    border-radius: 4px;
  }
}

.boite-mail{
  @include flex(row, stretch, flex-start);
  border-radius: 8px;
  border: 1px solid var(--greyShadow);

  overflow: auto;

  .col-1, .col-3{
    padding: 12px;
  }

  .col-1{
    position: relative;
    background-color: var(--alpha);
    border-radius: 8px 0 0 8px;
    width: calc(22% - 24px);
    box-shadow: 4px 0 12px var(--greyShadow);
  }

  .col-2{
    background-color: var(--alpha);
    width: calc(28% - 24px);
  }

  .col-3{
    background-color: var(--alpha);
    border-radius: 0 8px 8px 0;
    width: calc(50% - 24px);
    box-shadow: -4px 0 12px var(--greyShadow);
  }

  .mail-add{
    margin-bottom: 24px;

    .btn{
      width: 100%;
    }
  }

  .mail-menu{
    .item{
      @include flex(row, center, space-between);
      cursor: pointer;
      @include fontSemibold();

      .name{
        @include flex(row, center, flex-start);

        [class^="icon-"]{
          display: inline-block;
          margin-right: 8px;
          color: var(--grey3);
          font-weight: 600;
        }
      }

      .total{
        span{
          background-color: var(--primaryShadow);
          border-radius: 4px;
          width: 36px; height: 36px;
          padding: 4px 6px;
          font-size: 12px;
          color: var(--primary)
        }
      }
    }
  }

  .mail-mails{
    .item{
      @include flex(row, flex-start, space-between);
      height: 60px;
      cursor: pointer;
      padding: 12px;
      transition: all 0.2s ease-in-out;

      &:hover{
        position: relative;
        background-color: var(--primaryShadow2);
      }

      &:not(:last-child){
        border-bottom: 1px solid var(--greyShadow);
      }

      .expeditor{
        @include flex(row, flex-start, flex-start);
        width: calc(100% - 30px - 12px);
        margin-right: 12px;

        .avatar{
          @include flex(row, center, center);
          border-radius: 60px;
          width: 32px; height: 32px;
          background-color: var(--primaryShadow2);

          span{
            display: inline-block;
            color: var(--primary)
          }
        }

        .content{
          width: calc(100% - 32px - 8px);
          padding-bottom: 4px;
          margin-left: 8px;
          overflow: auto;
          @include scrollbar();

          &::-webkit-scrollbar{
            height: 3px;
          }
        }

        .name{
          @include fontSemibold();
          margin-bottom: 4px;
        }

        .subject{
          font-size: 15px;
          color: var(--grey3);
        }
      }

      .createdAt{
        width: 30px;
        font-size: 12px;
        color: var(--grey3);
      }
    }
  }
}
