@import "../vars/vars";

.items-table {

  & > .items > .item{
    align-items: flex-start;
  }
  
  .item-image{
    cursor: pointer;

    img{
      transition: all 0.2s ease-in-out;
    }

    &:hover{
      img{
        transform: scale(1.05);
      }
    }
  }

  .item-selector{
    transform: translateY(24px);
  }
}

.preview-form-oldFile{
  img{
    width: 42px; height: 42px;
  }
}

.items-user{
  .sub-username{
    margin-bottom: 4px;
  }

  .role{
    margin: 4px 0 8px 0;
  }

  .sub.txt-danger{
    opacity: 1;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .toolbar{
    .create{
      width: 195px;
    }
    .filter-search{
      width: calc(100% - 24px - 195px);
    }
  }

  .preview-form-oldFile{
    img{
      width: 64px; height: 64px;
    }
  }

  .items-user{
    .role{
      margin: 0;
    }
  }
}