@import "../vars/vars";

@include toolbarCreateFilterSearch(195);
@import "./split/user/card";

.items-user{
  .sub-username{
    margin-bottom: 4px;
  }

  .role{
    margin: 4px 0 8px 0;
  }

  .sub.txt-danger{
    opacity: 1;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .items-user{
    .role{
      margin: 0;
    }
  }
}