@import "../vars/vars";

.theme-container{
  position: relative;
  margin-right: 36px;

  .switcher-items .switcher-item label{
    padding: 4px 8px;

    &:before{
      width: 16px; height: 16px;
    }

    &:after{
      content: "\e97c";
      top: 8px; left: 7px;
      font-size: 9px;
      color: var(--grey);
    }
  }

  .switcher-items .switcher-item.checked label:before,
  .switcher-items .switcher-item.checked label:after{
    transform: translateX(24px);
  }
  .switcher-items .switcher-item.checked label:after{
    content: "\e97b";
  }

}