@import "../vars/vars";
@import "~react-selectize/dist/index.min.css";

@import "../components/card";
@import "../components/filter";

@import "./split/biens/form";
@import "./split/biens/details";
@import "./split/biens/suivi";

.list-biens{
  .card-ad{
    margin-bottom: 12px;
  }
}

.input-page,
.pagination,{
  justify-content: center;
}

.person{
  margin-bottom: 4px;
}

.sub + .persons,
.name + .persons{
  margin-top: 8px;
}

.isDraft{
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: calc(100% - 2px); height: calc(100% - 2px);
  background: repeating-linear-gradient(
                  -45deg,
                  var(--overlay),
                  var(--overlay) 10px,
                  var(--greyShadow) 10px,
                  var(--greyShadow) 20px
  );
  border: 1px solid var(--alpha);
  border-radius: 4px;
  @include flex(row, center, center);
  @include fontSemibold();
  font-size: 18px;
  z-index: 1000;

  & > div{
    background-color: var(--warning);
    color: var(--alpha);
    padding: 4px 12px;
    border-radius: 4px;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .page-default .tab-col-2 + button,
  .page-default .tab-col-2 + a{
    width: 278px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .list-biens{
    .card-ad{
      margin-bottom: 24px;
    }
  }

  .input-page,
  .pagination,{
    margin-left: 278px;
  }

  .suivi-container{
    width: 100%;
    margin-right: 0;
  }
}