@import "../vars/vars";
@import "~react-selectize/dist/index.min.css";

@import "../components/card";
@import "../components/filter";

@import "./split/biens/form";

.list-biens{
  .card-ad{
    margin-bottom: 12px;
  }
}

.contact-line{
  .items-table{
    width: 100%;
    margin-top: 24px;
  }
}

.contact-aside{
  @include toolbarCreateSearch(224);
  
  .selector, .col-1, .col-2, .col-3{
    cursor: pointer;
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .page-default .tab-col-2 + button,
  .page-default .tab-col-2 + a{
    width: 278px;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .contact-aside {
    .aside{
      width: 80%;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .list-biens{
    .card-ad{
      margin-bottom: 24px;
    }
  }
}