@import "../vars/vars";
@import "~react-selectize/dist/index.min.css";

@import "../components/card";
@import "../components/filter";

@import "./split/biens/form";

.list-biens{
  .card-ad{
    margin-bottom: 12px;
  }
}

.input-page,
.pagination,{
  justify-content: center;
}

.person{
  margin-bottom: 4px;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .page-default .tab-col-2 + button,
  .page-default .tab-col-2 + a{
    width: 278px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .list-biens{
    .card-ad{
      margin-bottom: 24px;
    }
  }

  .input-page,
  .pagination,{
    margin-left: 278px;
  }
}