@import "../vars/vars";

@import "../../../common/css/components/homepage";
@import "./split/visite/visite";
@import "../../../common/css/pages/changelog";

#chart-ads-tiny{
  & > div{
    position: absolute;
    bottom: -68px;
    left: -83px;
    z-index: 0;
    width: 111%;
    transform: scale(0.5);
    border-radius: 8px;
  }
}

.badge-changelog.badge{
  color: var(--alpha);
}

.welcome-back{
  .avatar{
    background: var(--fondContent);
  }

  .me{
    margin-bottom: 8px;
  }
}

.dash-card-1{
  position: relative;
  overflow: hidden;
  @include flex(column, flex-start, space-between);
  color: var(--txt);
  transition: all 0.2s ease-in-out;

  .card-header, .card-body{
    position: relative;
    z-index: 10;
  }

  &:hover{
    transform: scale(1.01);
  }
}

.dash-card-1.dash-card-publish{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='350' height='250' preserveAspectRatio='none' viewBox='0 0 350 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1114%26quot%3b)' fill='none'%3e%3crect width='350' height='250' x='0' y='0' fill='rgba(243%2c 175%2c 73%2c 0.63)'%3e%3c/rect%3e%3cpath d='M0%2c153.403C30.105%2c159.377%2c63.945%2c156.208%2c88.957%2c138.42C113.677%2c120.84%2c120.187%2c88.191%2c131.354%2c59.987C141.947%2c33.233%2c159.378%2c6.008%2c152.44%2c-21.918C145.606%2c-49.426%2c114.009%2c-61.291%2c95.82%2c-83.029C77.193%2c-105.291%2c72.738%2c-144.968%2c44.362%2c-151.082C15.482%2c-157.305%2c-4.167%2c-119.055%2c-32.498%2c-110.679C-60.743%2c-102.328%2c-97.576%2c-123.377%2c-118.718%2c-102.869C-139.472%2c-82.737%2c-123.197%2c-46.922%2c-127.675%2c-18.357C-132.232%2c10.713%2c-157.733%2c39.688%2c-145.239%2c66.329C-132.727%2c93.007%2c-94.105%2c91.955%2c-68.833%2c107.106C-44.627%2c121.618%2c-27.683%2c147.909%2c0%2c153.403' fill='rgba(211%2c 132%2c 14%2c 0.63)'%3e%3c/path%3e%3cpath d='M350 366.275C372.58 365.83799999999997 393.608 359.016 414.409 350.222 439.053 339.803 471.598 334.94 482.211 310.379 492.849 285.76 473.704 258.803 464.852 233.487 457.603 212.757 447.799 194.151 435.264 176.119 421.283 156.006 410.45799999999997 130.816 387.517 122.23 364.269 113.529 338.704 123.459 315.102 131.149 292.087 138.648 269.416 148.155 253.094 166.03 236.529 184.172 224.861 207.261 223.225 231.773 221.645 255.455 233.618 277.075 244.268 298.286 254.55700000000002 318.778 264.68 340.347 283.967 352.749 303.255 365.152 327.072 366.719 350 366.275' fill='rgba(249%2c 213%2c 159%2c 0.63)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1114'%3e%3crect width='350' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.sub + .persons,
.name + .persons{
  margin-top: 8px;
}

.person {
  margin-bottom: 4px;
}

.dash-line-2{
  .dash-line-2-line-1{
    & > .title{
      @include title();
    }
  }
}

.dash-card-changelogs{
  max-width: 1024px;

  &:hover{
    transform: none;
  }

  .card-header{
    @include flex(row, center, flex-start);
    @include fontSemibold();
    font-size: 20px;
    margin-bottom: 24px;

    .icon{
      margin-bottom: 0;
    }

    .title{
      margin-bottom: 0;
      margin-left: 8px;
      opacity: 1;
    }
  }
}

.changelogs{
  .changelog{

    .changelog-date{
      color: var(--grey3);
      margin-bottom: 8px;
    }

    .changelog-content{
      width: 100%;
    }

    .name{
      @include fontSemibold();
      opacity: 1;
      margin-bottom: 8px;

      & > span:last-child{
        margin-left: 8px;
      }
    }

    .content{
      font-size: 15px;
      width: 100%;
    }

    &:not(:last-child){
      margin-bottom: 12px;
      padding-bottom:12px;
      border-bottom: 2px solid var(--greyShadow);
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .dash-card-changelogs{
    width: calc(100% - 48px);
    margin-right: 0;
  }

  .changelogs{
    .changelog{
      @include flex(row, flex-start, flex-start);

      .changelog-date{
        width: 200px;
      }

      .changelog-content{
        margin-left: 48px;
        width: calc(100% - 200px - 48px);
      }
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .dash-card-1:not(:last-child){
    margin-bottom: 0;
  }

  .dash-card-1{
    width: calc(25% - 48px - 18px);
  }

  .dash-line-2{
    @include flex(row, flex-start, flex-start);
  }

  .dash-card-changelogs{
    width: calc(60% - 48px);
  }

  .dash-card-chart-ads{
    width: 40%;
  }
}
