@import "../vars/vars";
@import "~react-selectize/dist/index.min.css";

@import "../../../common/css/pages/prospects";
@import "../components/card";

@include toolbarCreateFilterSearch(199);

.badge{
  $status:
          "0" var(--grey) var(--txt),
          "1" var(--primaryShadow) var(--txt),
          "2" var(--warning) var(--txt),
          "3" var(--danger) var(--txt),
          "4" var(--color0Shadow) var(--txt),
;

  @each $number, $bg, $txt in $status {
    &.badge-#{$number}{
      background-color: $bg;
      color: $txt;
    }
  }
}