@import "../vars/vars";
@import "~react-selectize/dist/index.min.css";

@import "../components/card";

.card-ad{
  margin-bottom: 12px;

  .card-footer{
    .actions.followed{
      .btn-icon{
        .icon-star{
          color: var(--warning);
        }
      }
    }
  }
}

.dark-mode{
  .card-ad.card-draft{
    .card-footer{
      background-color: var(--fondContent);
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .card-ad {
    margin-bottom: 24px;

    .card-footer{
      .btn-icon{
        [class^="icon-"]{
          font-size: 18px;
        }
      }
    }
  }
}