@import "../vars/vars";

#list-quartiers{
  @include toolbarCreateFilterSearch(192)
}

#list-sols{
  @include toolbarCreateFilterSearch(154)
}

#list-sous-types{
  @include toolbarCreateFilterSearch(204)
}

#settings-supports{
  .toolbar{
    .filter-search{
      margin-left: 0;
      width: 100%;

      .search{
        width: 100%;
      }
    }
  }
}