{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Styleguide React{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_styleguide') }}
{% endblock %}

{% block main_content %}
    {% include "dashboard/layout/components/spinnger.html.twig" %}
{#    <div id="styleguide">#}
{#        {% include "dashboard/layout/components/spinnger.html.twig" %}#}
{#    </div>#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_styleguide') }}
{% endblock %}