@import "../../../common/css/vars/vars";

@mixin fontRegular() { font-family: 'barlowregular', sans-serif; }
@mixin fontSemibold() { font-family: 'barlowsemibold', sans-serif; }
@mixin fontBold() { font-family: 'barlowbold', sans-serif; }