@import "~normalize.css";
@import "~toastr";

@import "../../common/css/color";

:root{
  --color0: #094fa7;
  --primary: #1678F2;
  --danger: #F76E76;
  --warning: #F3AF49;

  --color0Shadow: rgba(9, 79, 167, 0.4);
  --color0Shadow2: rgba(9, 79, 167, 0.1);
  --color0Shadow3: rgba(9, 79, 167, 0.05);

  --primaryShadow: rgba(22, 120, 242, 0.4);
  --primaryShadow2: rgba(22, 120, 242, 0.1);

  --dangerShadow: rgba(247, 110, 118, 0.4);
  --dangerShadow2: rgba(247, 110, 118, 0.1);

  --warningShadow: rgba(243, 175, 73, 0.4);
  --warningShadow2: rgba(243, 175, 73, 0.1);

  --grey: #E0E0E3;
  --grey2: #8A8F97;
  --grey3: #727477;

  --txt:#202020;
  --fond: #FCFCFCFF;
  --fondContent: #F3F4F8;
  --fondMenu: #212121;
}

@import "vars/fonts";
@import "vars/vars";

@import "components/menu";
@import "components/header";
@import "components/footer";

@import "components/spinner";
@import "components/page";
@import "components/loader";
@import "components/pagination";
@import "components/toolbar";
@import "components/table";
@import "components/impersonate";

@import "components/filter-nego";
@import "components/circular";
@import "components/selector";
@import "components/utilitaire";
@import "components/button";
@import "components/button-dropdown";
@import "components/alert";
@import "components/tooltip";
@import "components/submenu";
@import "components/form";
@import "components/aside";
@import "components/exception";
@import "components/legales";
@import "components/map";
@import "components/cookies";
@import "components/notifications";
@import "components/toastr-custom";
@import "components/helpBubble";
@import "components/dropdown";
@import "components/filter";
@import "components/agenda";
@import "components/diag";
@import "components/read";
@import "components/negotiator";
@import "components/theme";
@import "components/mails";
@import "../../common/css/font-size";


html, body{
  scroll-behavior: smooth;
}

body {
  color: var(--txt);
  @include fontRegular();
  background-color: var(--fond);
}

img{
  width: 100%;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
h1, h2, h3, h4, p{
  margin: 0;
}

h1{
  @include fontBold();
}

h2{
  @include fontSemibold();
  text-transform: uppercase;
}

.txt-danger{
  color: var(--danger);
}

.txt-primary{
    color: var(--primary);
}

.linethrough{
    text-decoration: line-through;
}

main{
  background-color: var(--fond);
}

.main-content{
  min-height: 100vh;
  padding: 12px;
  margin-top: 12px;
}

.maj-settings{
  color: var(--danger);
  text-decoration: underline;
}

.txt-danger{
  color: var(--danger);
}

.txt-primary{
  color: var(--primary);
}

.main-bg{
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 72px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='1080' preserveAspectRatio='none' viewBox='0 0 1600 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1056%26quot%3b)' fill='none'%3e%3crect width='1600' height='1080' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M184 1080L1264 0L2078.5 0L998.5 1080z' fill='url(%23SvgjsLinearGradient1057)'%3e%3c/path%3e%3cpath d='M1513 1080L433 0L-155 0L925 1080z' fill='url(%23SvgjsLinearGradient1058)'%3e%3c/path%3e%3cpath d='M860.4927350554709 1080L1600 340.4927350554709L1600 1080z' fill='url(%23SvgjsLinearGradient1057)'%3e%3c/path%3e%3cpath d='M0 1080L739.5072649445291 1080L 0 340.4927350554709z' fill='url(%23SvgjsLinearGradient1058)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1056'%3e%3crect width='1600' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1057'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1058'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .body{
    @include flex(row, flex-start, flex-start);
  }
  main{
    width: 80%;
    margin-left: 20%;
  }

  .main-content{
    padding: 24px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  main{
    width: 82.5%;
    margin-left: 17.5%;
  }
  .main-content{
    padding: 24px 32px;
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  main{
    width: 86%;
    margin-left: 14%;
  }
  .main-content{
    @include maxscreen();
  }
}
