@page {
    margin: 18px 24px;
}

body{
    font-size: 12px;
}

h1{
    font-weight: bold;
}

.lieu{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 25px 0;
}

.lieu-horaire{
    font-size: 20px;
    border-right: 1px solid black;
}

.lieu td{
    padding: 24px;
}

.liste-personnes{
    display: block;
}

.infos-inscrits td{
    padding: 8px;
}

.main-table .infos-inscrits{
    padding: 24px;
}

b{
    font-weight: bold;
}

.numero-ticket{
    font-size: 24px;
}

.logo-ca{
    width: 150px;
}

.header td{
    padding: 24px;
}