@import "../vars/vars";

.title-page{
  padding: 24px 12px 12px 12px;

  .subtitle{
    opacity: 0.8;
  }
}

.homepage{
  min-height: 68vh;
}

.app-header{
  @include flex(column, flex-start, center);
  margin-bottom: 48px;

  .title-page{
    max-width: 768px;
  }

  .actions{
    margin-top: 24px;
  }

  .images{
    @include flex(row, flex-start, flex-start);
    overflow: hidden;
    max-height: 500px;
    margin-top: 48px;
    margin-left: 12px;

    img{
      width: 33%;
      height: 300px;
      object-fit: cover;
      border-radius: 24px;
      transition: all 0.2s ease-in-out;

      &:hover{
        transform: scale(0.97);
      }

      &:not(:last-child){
        margin-right: 24px;
      }
    }
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .homepage{
    min-height: 74vh;
  }

  .title-page{
    text-align: center;
  }

  .app-header{
    align-items: center;
  }
}

//                      __   _  ___ ____  _  _     __
//                     | _| / |/ _ \___ \| || |   |_ |
//    _____ _____ _____| |  | | | | |__) | || |_   | |_____ _____ _____
//   |_____|_____|_____| |  | | |_| / __/|__   _|  | |_____|_____|_____|
//                     | |  |_|\___/_____|  |_|    | |
//                     |__|                       |__|
@media (min-width: 1024px) {
  .title-page{
    padding: 32px;
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .app-header{
    flex-direction: row;

    .title-page{
      padding-top: 0;
      text-align: left;
      width: 650px;
    }

    .images{
      margin-top: 0;
      width: calc(100% - 710px);

      img{
        height: 500px;
      }
    }

    .title-page,
    .images{
      margin-top: 48px;
    }

    h1{
      font-size: 52px;
    }

    .subtitle{
      font-size: 20px;
      max-width: 414px;
    }
  }
}

//                      __   _  __    ___   ___    __
//                     | _| / |/ /_  / _ \ / _ \  |_ |
//    _____ _____ _____| |  | | '_ \| | | | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | | (_) | |_| | |_| |  | |_____|_____|_____|
//                     | |  |_|\___/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1600px){
  .title-page{
    margin: 48px auto 0 auto;
  }

  .app-header{
    margin-left: 8%;
  }
}

//                      __   _  ___ ____   ___    __
//                     | _| / |/ _ \___ \ / _ \  |_ |
//    _____ _____ _____| |  | | (_) |__) | | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |\__, / __/| |_| |  | |_____|_____|_____|
//                     | |  |_|  /_/_____|\___/   | |
//                     |__|                      |__|
@media (min-width: 1920px){
  .app-header{
    margin-left: 15%;

    .images {
      max-height: 600px;

      img {
        height: 600px;
      }
    }
  }
}
