{% extends 'user/pages/utilities/template.html.twig' %}

{% set page_title %}Financement{% endset %}
{% set submenuActive = "Financement" %}

{% block main_content %}
    <div id="utilities-financial">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}