{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Liste des agences{% endset %}
{% set submenuActive = "Agences" %}

{% block main_content %}
    <div id="agencies" data-donnees="{{ donnees }}" data-total="{{ total }}" data-societies="{{ societies }}">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}