{% extends 'user/pages/publications/template.html.twig' %}

{% set page_title %}Publication des annonces{% endset %}

{% block main_content %}
    <div id="list-publications">
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}